/* ===============================================
#workMain
=============================================== */
.workMain__lead
{
    font-size: 20px;
    font-size: 2rem;

    margin-bottom: 80px;

    text-align: center;
}

@media screen and (max-width: 767px)
{
    .workMain__lead
    {
        margin-bottom: 60px;
    }
}
.workMain__cards
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
}

.workMain__card
{
    width: calc(33.3333333% - 26.6666666667px);
}

.workMain__card:not(:nth-of-type(3n + 1))
{
    margin-left: 40px;
}

@media screen and (max-width: 1023px)
{
    .workMain__card:not(:nth-of-type(3n + 1))
    {
        margin-left: 0;
    }
}
.workMain__card:nth-of-type(n + 4)
{
    margin-top: 40px;
}

@media screen and (max-width: 1023px)
{
    .workMain__card
    {
        width: calc(50% - 20px);
    }

    .workMain__card:not(:nth-of-type(2n + 1))
    {
        margin-left: 40px;
    }

    .workMain__card:nth-of-type(n + 3)
    {
        margin-top: 40px;
    }
}
@media screen and (max-width: 767px)
{
    .workMain__card
    {
        width: 100%;
    }

    .workMain__card:nth-of-type(n + 2)
    {
        margin-top: 40px;
        margin-left: 0;
    }
}
.workMain__card:hover .workMain__img::before
{
    opacity: 1;
}

.workMain__card:hover .workMain__img-title
{
    opacity: 1;
}

.workMain__link
{
    display: block;
}

.workMain__img-title
{
    font-size: 20px;
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 100%;
    padding: 0 5px;

    -webkit-transition: opacity .3s;

    transition: opacity .3s;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;

    opacity: 0;
    color: #fff;
}

.workMain__img
{
    position: relative;

    margin-bottom: 20px;
}

.workMain__img::before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: opacity .3s;
    transition: opacity .3s;

    opacity: 0;
    background-color: rgba(0, 122, 183, .4);
}

.workMain__img img
{
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
            box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.workMain__card-title
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 8px;
}

.workMain__time
{
    display: block;

    margin-bottom: 5px;
}

.workMain__card-text
{
    margin-bottom: 8px;
}

/* ==========================================================================
   workspage
   ========================================================================== */
