@use "../../global" as *;
.c-heading {
    position: relative;
    margin-bottom: 80px;

    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100px;
        height: 1px;
        background-color: $color-primary;
    }

    &__jp {
        display: block;
        @include fontsize(22);

        @include mq(medium, max, true) {
            @include fontsize(18);
        }
    }

    &__en {
        display: block;
        @include fontsize(54);
        line-height: 1.3;

        @include mq(medium, max, true) {
            @include fontsize(43);
        }
    }
}
