$color-primary: #007AB7;
$color-secondary: #45A1CF;
$color-tertiary: #F2C94C;
$color-quaternary: #f8eed6;

// base color
$color-text: #333 !default;
$color-text-secondary: #0D0D0D;
$color-text-tertiary: #474747;

// link color
$color-link: #17344F !default;
$color-link-secondary: #689E94;
$color-link--visited: null !default;

// sns color
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-line: #00b900;